.btn:focus {
    outline: 0;
}

.affix {
    width: 200px;
}

body {
}

.table td, .table th {
    text-align: center !important;
}

.table .firstTD {
    text-align: left !important;
}

.table .noWrap {
    white-space: nowrap;
}

.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
    padding: 6px;
}

.badge, .label {
    cursor: default;
}

.container {
    width: 95% !important;


}

.uri {
    display: inline-block;
    padding: 0px 6px;
    margin: 0px;
    /*word-wrap: normal;*/
    word-break: normal;
    white-space: normal;
    color: #d14;
}

.errorLogContent {
    margin: 10px;
}

.errorLogContent .btn {
    position: absolute;
}

.errorLogContent dl {
    word-wrap: break-word;
}

.errorLogCode {
    padding-top: 22px;
    word-break: normal;
    word-wrap: normal;
    white-space: pre;
    overflow: auto;
    max-height: 250px;
}

.panelHead {
    color: #ffffff;
    background-color: #446e9b;
    border-color: #446e9b;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.panelTitle {
    display: inline;
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
}


.sortToggle span {
    cursor: pointer;
}

.tdCollapse {
    max-height: 20px;
    overflow: hidden;
    cursor: pointer;
}

.tdUncollapse {
    max-height: none;
}

tr.rankings td:nth-child(1) {
    width: 70%;
}

tr.rankings td:nth-child(2) {
    width: 15%;
}

tr.rankings td:nth-child(3) {
    width: 15%;
}

div.navbar-header {
    margin-left: -20px !important;
    font-weight: bolder !important;
}

/*Side-Navigation:*/
div.navbar-left {
    color: lightgray;
    margin-top: -20px;
    position: fixed;
    height: 100%;
    width: 150px;
    display: block;
    padding-left: 40px;
    border: 1px solid #345578;
    background: #3e648d;
}

@media screen and (max-width: 1219px) {
    div.navbar-left {
        margin-top: 25px;
    }
}

@media screen and (max-width: 853px) {
    div.navbar-left {
        margin-top: 70px;
    }
}

@media screen and (max-width: 767px) {
    div.navbar-left {
        margin-top: -20px;
    }
}

div.navbar-left ul li {
    list-style-type: none;
    padding-top: 15px;
}

div.navbar-left ul li:hover {
    color: white;
    cursor: pointer;
}

.mousePointer {
    cursor: pointer !important;
}

div#view {
    margin-top: 15px;
    position: relative;
    alignment: center;
    width: 1450px !important;
}

@media screen and (max-width: 1219px) {
    div#view {
        margin-top: 50px;
        width: 1000px !important;
    }
}

@media screen and (max-width: 853px) {
    div#view {
        margin-top: 90px;
        width: 600px !important;
    }
}

@media screen and (max-width: 767px) {
    div#view {
        margin-top: 35px;
        width: 500px !important;
    }
}

h1, h2 {
    color: #3e648d;
    text-align: center;
    font-weight: bold;
}

table#overview, h2#headingOverview {
    margin-left: -100px;
}

table#overview th, td {
    width: 12.5% !important;
}

table tr.graphs td {
    height: 500px;
    vertical-align: middle;
}

h5 {
    color: #5c5c5c;
    text-align: center;
}

#testHeading {
    text-align: center;
}

a:hover {
    cursor: pointer;
}

div#dashboardChart {
    display: block;
    width: 50% !important;
    height: 350px;
    margin-left: -25px;
    float: left;
}

div#timelineChart {
    background-color: transparent !important;
    display: block;
    width: 50% !important;
    height: 350px;
    margin-left: 650px;
}

div#tests {
    background-color: transparent !important;
    vertical-align: middle;
    display: block;
    width: 80% !important;
    height: 350px;
}

div#testOverview#errorOverview#overallTests {
    align-content: center;
    width: 100%;
    height: 350px;
}

ul#loadDates li a {
    color: black;
    text-align: center;
}

div.lastTestErrors {
    float: right;
    padding-top: 95px;
}

div#navLeft {
    display: none;
}


body, html {
    width: 100%;
    height: 100%;
}

.full {
    height: 100%;
}

.lastTestResult {
    height: 300px;
}

@media screen and (max-width: 767px) {
    .lastTestResult {
        height: 150px !important;
    }
}

.lastTestErrors {
    color: black;
    font-weight: bold;
}


.overCur {
    cursor: pointer;
}


.myNavTable {
    align-content: center;
    table-layout: fixed;
    width: 80%;
    white-space: nowrap;
}

.myNavTable tr {
    text-align: center;
}


.myTopMenuImg {
    height: 50px;
    width: 50px;
    align: center;
    filter: blur(20px);
    -webkit-filter: brightness(400%); /* Safari 6.0 - 9.0 */
    filter: invert();
}



@keyframes show-startpage-navigation {
    from {
        top: -45px;
    }
    to {
        top: 0;
    }
}

@keyframes hide-startpage-navigation {
    from {
        top: 0;
    }
    to {
        top: -45px;
    }
}

.startpage-navigation {
    animation: hide-startpage-navigation 1s ease forwards;
}

.startpage-navigation:hover {
    animation: show-startpage-navigation 1s ease forwards;
}

ul.dropdown-menu.show {
    width: auto;
    text-align-all: center;
}

dopdonw-menu.show.li {
    border: 3px;
    border: black;
    width: 80px;
}

ul#loadDates {
    width: 250px !important;
}

ul#loadDates li {
    margin: 2.5px;
}

ul#loadDates li:hover {
    background: lightgray;
}

a.active {
    color: darkgray !important;
}

#accordionSidebar, #topNav a {
    cursor: pointer;
}

div#overallTests, div#errorOverview {
    height: 350px;
}

div#testOverview {
    height: 425px;
}
