<h2>Overview</h2>

<h3>19.4-SNAPSHOT</h3>
<table class="table table-hover overview">
	<tr>
		<th ng-click="goToDashboard('NADIN_19.4-SNAPSHOT Acceptance')">Acceptance Tests</th>
		<th ng-click="goToDashboard('NADIN_19.4-SNAPSHOT Integration')">Integration Tests</th>
		<th ng-click="goToDashboard('NADIN_19.4-SNAPSHOT Webclient')">Webclient Tests</th>
		<th ng-click="goToDashboard('NADIN_19.4-SNAPSHOT Webservice')">Webservice Tests</th>
	</tr>

	<tr class="graphs">
		<td>
			<div class="lastTestErrors"></div>
			<div class="lastTestResult"></div>
		</td>

		<td>
			<div class="lastTestErrors"></div>
			<div class="lastTestResult"></div>
		</td>

		<td>
			<div class="lastTestErrors"></div>
			<div class="lastTestResult"></div>
		</td>

		<td>
			<div class="lastTestErrors"></div>
			<div class="lastTestResult"></div>
		</td>
	</tr>
</table>

<h3>19.3-SNAPSHOT</h3>
<table class="table table-hover overview">
	<tr>
		<th ng-click="goToDashboard('NADIN_19.3-SNAPSHOT Acceptance')">Acceptance Tests</th>
		<th ng-click="goToDashboard('NADIN_19.3-SNAPSHOT Integration')">Integration Tests</th>
		<th ng-click="goToDashboard('NADIN_19.3-SNAPSHOT Webclient')">Webclient Tests</th>
		<th ng-click="goToDashboard('NADIN_19.3-SNAPSHOT Webservice')">Webservice Tests</th>
	</tr>

	<tr class="graphs">
		<td>
			<div class="lastTestErrors"></div>
			<div class="lastTestResult"></div>
		</td>

		<td>
			<div class="lastTestErrors"></div>
			<div class="lastTestResult"></div>
		</td>

		<td>
			<div class="lastTestErrors"></div>
			<div class="lastTestResult"></div>
		</td>

		<td>
			<div class="lastTestErrors"></div>
			<div class="lastTestResult"></div>
		</td>
	</tr>
</table>
