<!-- Old Design:
<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li class="active">Products</li>
</ol>

<table ng-repeat="category in categories" class="table table-striped table-hover table-bordered">
	<thead>
		<tr>
			<th width="60%" class="firstTD">{{category.length == 0 ? 'Product / Version' : category+' Tests'}}</th>
			<th>Statistics</th>
			<th ng-show="deletionMode">Bulk Deletion</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="product in filteredProducts | filter:productCondition |  filter:productFilter(category) | filter:searchText | filter:category | orderBy:'':true">
			<td class="firstTD"><button ng-click="reportsOverview(product)" class="btn btn-primary btn-sm">{{product.replace(category, '')}}</button></td>
			<td>
				<button ng-click="openChart(product)" class="btn btn-primary btn-sm">Charts</button>
				<button ng-click="openRanking(product)" class="btn btn-primary btn-sm">Rankings</button>
			</td>
			<td  ng-show="deletionMode">
				<button ng-click="bulkDelete(product)" class="btn btn-danger btn-sm" ng-show="deletionMode">Delete</button>
			</td>
		</tr>
	</tbody>
</table>
-->

<h2 id="headingOverview">Overview</h2>


<table class="table table-hover" id="overview">
	<tr>
		<th colspan="2">Acceptance Tests</th>
		<th colspan="2">Integration Tests</th>
		<th colspan="2">Webclient Tests</th>
		<th colspan="2">Webservice Tests</th>
	</tr>

	<tr class="graphs">
		<td>[Graph]</td><!-- TODO: ng-reapeat -->
		<td>[Graph]</td>

		<td>[Graph]</td>
		<td>[Graph]</td>

		<td>[Graph]</td>
		<td>[Graph]</td>

		<td>
			<div id="lastTestResult"></div>
		</td>
		<td>
			<div id="lastTestErrors"></div>
		</td>
	</tr>
</table>

</div>


<script type="text/javascript" src="../js/colChart.js"></script>
